@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    font-family: 'oswald', sans-serif;
}

h1 {
    font-family: 'Gill Sans';
}

.site {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(banner-image.png);
    /* background-image: url(banner-image.png); */
}